form#new-post {
    width: 100%;
    max-width: 580px;
    margin: 30px auto;
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;

    display: flex;
    flex-direction: column;
}

form#new-post input {
    margin-bottom: 10px;
}

form#new-post input[type=text] {
    width: 100%;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0 20px;
    font-size: 14px;
}

form#new-post button {
    padding: 10px 20px;
    border-radius: 4px;
    border: 0;
    background: #7159c1;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

form#new-post input[type=file] {
    background: #FFF;

}